<%= div_for membership do %>
        
                <div class="media">
            <a class="pull-left" href="#">
                <%= image_tag membership.user.profile.url(:thumb), class: "img img-responsive media-object thumbnail" %>
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= membership.user.full_name %></h4>
                       
                        </div>
                    </div>
     
<% end %>