
  

<%= simple_form_for [ Group.new] do |f| %>


  	<%= f.input :name, placeholder: "Group Name" %>
    <%= f.input :description, as: :text, placeholder: "Describe the banter of your group.." %>

        <p><%= f.submit "Post" %></p>
<% end %>