
<div class="stats">
  
    <strong id="following" class="stat">
      <%= @status.likes.count %>
    </strong>
    following

  
    <strong id="followers" class="stat">
      <%= @status.dislikes.count %>
    </strong>
    followers

</div>