@import "bootstrap";
body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
}

body.home:before {

  content: "";
    position: absolute;
    background: url(inter.jpg);
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transform: scale(5);
    transform-origin: top left;
    filter: blur(5px);
// Browser Specific
-webkit-filter: blur(1px);
-moz-filter: blur(1px);
-o-filter: blur(1px);
-ms-filter: blur(1px);
}

.home-modal{
    background-image: url('new-york-city.jpg');
    background-size: cover;
    background-size: 100% auto; 
    color:white;
    min-height:300px;
}

.nav_home{
  background-color:purple !important;
  color:white !important;
}
.member{
  background-color:#dff0d8 !important;
  color: #468847;
}
.group_members{
  width:50% !important;
}

.navbar .nav > li > a {
    float: none !important;
    line-height: 19px !important;
    padding: 15px 10px 11px !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    color:  #fff !important;
}
.well{
  padding:0.5px !important;

  background-color:white !important;
}
.panel{
  padding:0.5px !important;

  background-color:white !important;
}



.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-decoration:none;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
  text-decoration:none;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}
a .btn-twitter {
	text-decoration:none;
}
.alert{
	z-index:1000000 !important;
}